</div>
<div class="container">
	<div class="section clearfix center">
		<h1>{{page.title}}</h2>
	</div>
	<div class="sixteen section border-separate columns clearfix animated fadeIn">
		<div class="six columns">
			<h2>General</h2>
			<p class="p2">If you have any questions, comments or if we can be of further assistance please contact the Urban Zen online team. Our customer care line is open Monday to Friday, from 10am – 6pm EST [Closed on weekends and national holidays]</p>
		</div>
		<div class="four columns"><br></div>
		<div class="five columns">
			<h5>CONTACT</h5>
			<p class="p2"><strong>Phone:</strong> 855.755.4848<br><strong>Email:</strong> <a href="mailto:customerservice@urbanzen.com">customerservice@urbanzen.com</a></p>
		</div>
	</div>
	<div class="sixteen section border-separate columns clearfix animated fadeIn">
		<div class="six columns">
			<h2>Public Relations</h2>
		</div>
		<div class="four columns"><br></div>
		<div class="four columns">
			<h5>CONTACT</h5>
			<p class="p2"><strong>Email:</strong> <a href="mailto:press@urbanzen.com">press@urbanzen.com</a></p>
		</div>
	</div>
	<div class="sixteen section border-separate columns clearfix animated fadeIn">
		<div class="six columns">
			<h2>Sales</h2>
		</div>
		<div class="four columns"><br></div>
		<div class="four columns">
			<h5>CONTACT</h5>
			<p class="p2"><strong>Email:</strong> <a href="mailto:wholesale@urbanzen.com@urbanzen.com">wholesale@urbanzen.com</a></p>
		</div>
	</div>
	<div class="section clearfix center"></div>
	<div class="section clearfix center"></div>
</div>