</div>
<div class="container">
	<div class="section clearfix center">
		<h1>Experience Urban Zen</h2>
	</div>
	<div class="sixteen section border-separate columns clearfix animated fadeIn">
		<div class="six columns">
			<h2>New York</h2>
			<p class="p2">705 Greenwich St | New York, NY 10014<br><a target="_blank" href="https://www.google.com/maps/place/705+Greenwich+St,+New+York,+NY+10014/@40.7340016,-74.0070185,15z/data=!4m2!3m1!1s0x89c259eb569112e7:0xf300a080391c8241sa=X&ei=VIpGVKGJO5PBggSQ1YLoCA&sqi=2&ved=0CB0Q8gEwAA"> Directions</a></p>
			<h5>HOURS</h5>
			<p class="p2">Mon – Wed, 10AM – 6PM<br>Thurs, 10AM – 7PM<br>Fri, 10AM – 6PM<br>Sat, 11AM – 6PM<br>Sun, 12PM – 5PM</p>
		</div>
		<div class="four columns"><br></div>
		<div class="four columns">
			<h5>CONTACT</h5>
			<p class="p2"><strong>Phone:</strong> 212.206.3999<br><strong>Email:</strong> <a href="mailto:705@urbanzen.com">705@urbanzen.com</a></p>
		</div>
	</div>
	<div class="sixteen section border-separate columns clearfix animated fadeIn">
		<div class="six columns">
			<h2>Manhasset - Opening April 2016</h2>
			<p class="p2">2072 Northern Blvd. | Manhasset, NY 11030<br><a target="_blank" href="https://www.google.com/maps/place/2072+Northern+Blvd,+Manhasset,+NY+11030/@40.795971,-73.6737094,17z/data=!3m1!4b1!4m2!3m1!1s0x89c2888c2685b66f:0xcbf8ab7307077321?q=2072+Northern+Blvd.+%7C+Manhasset+,+NY+11030&um=1&ie=UTF-8&sa=X&ved=0ahUKEwj1tdKv7LHLAhWDFz4KHUoCDgIQ_AUIBygB"> Directions</a></p>
			<h5>HOURS</h5>
			<p class="p2">Mon - Wed, 10AM - 6PM<br>Thurs - Sat, 10PM - 7PM<br>Sun, 12PM - 7PM</p>
		</div>
		<div class="four columns"><br></div>
		<div class="four columns">
			<h5>CONTACT</h5>
			<p class="p2"><strong>Phone:</strong> 516.918.9595<br><strong>Email:</strong> <a href="mailto:amuz@urbanzen.com">amuz@urbanzen.com</a></p>
		</div>
	</div>
	<div class="sixteen section border-separate columns clearfix animated fadeIn">
		<div class="six columns">
			<h2>Sag Harbor</h2>
			<p class="p2">4 Bay Street | Sag Harbor, NY 11963<br><a target="_blank" href="https://www.google.com/maps/place/Urban+Zen/@41.0016705,-72.2962395,17z/data=!4m7!1m4!3m3!1s0x89e8bd2515ec2899:0xa6177d4c319547eb!2s4+Bay+St,+Sag+Harbor,+NY+11963!3b1!3m1!1s0x89e8bd253e6ec7e3:0xa6888498759fc0e4">Directions</a></p>
			<h5>HOURS</h5>
			<p class="p2">Mon - Thurs, 10AM - 5PM<br>Fri - Sat, 10AM - 6PM<br>Sun, 10AM - 5PM</p>
		</div>
		<div class="four columns"><br></div>
		<div class="four columns">
			<h5>CONTACT</h5>
			<p class="p2"><strong>Phone:</strong> 631.725.6176<br><strong>Email:</strong> <a href="mailto:uzsh@urbanzen.com">uzsh@urbanzen.com</a></p>
		</div>
	</div>
	<div class="sixteen section border-separate columns clearfix animated fadeIn">
		<div class="six columns">
			<h2>Aspen - Seasonal</h2>
			<p class="p2">Residences at The Little Nell<br>501 E. Dean Street | Aspen, Colorado 81611<br><a href="https://www.google.com/maps/place/501+E+Dean+St,+Aspen,+CO+81611/data=!4m2!3m1!1s0x8740396264024019:0x1960e48ba2614167?sa=X&ei=KuUaVYOtDJPdsATZl4G4Dw&ved=0CB4Q8gEwAA"> Directions</a></p>
			<h5>HOURS</h5>
			<p class="p2">Mon - Sat, 11AM - 6PM<br>Sun, 12PM - 5PM<br><i>* Please call the store to confirm operating hours.</i></p>
		</div>
		<div class="four columns"><br></div>
		<div class="four columns">
			<h5>CONTACT</h5>
			<p class="p2"><strong>Phone:</strong> 970.710.2961<br><strong>Email:</strong> <a href="mailto:aspen@urbanzen.com">aspen@urbanzen.com</a></p>
		</div>
	</div>
	<div class="sixteen section columns clearfix animated fadeIn other-stores">
		<div class="four columns">
			<h2>Retail Partners</h2>
		</div>
		<div class="four columns">
			<h5>USA</h5>
			<p class="p2">
				<strong>A’MAREE’S</strong><br>
				2241 West Coast Highway<br>
				Newport Beach, CA 92663<br>
				949.642.4423<br>
				<br>
				<strong>BARBARA JEAN</strong><br>
				7811 Cantrell Road<br>
				Little Rock, AR 72227<br>
				501.227.0054<br>
				<br>
				<strong>BERGDORF GOODMAN</strong><br>
				754 Fifth Avenue<br>
				New York, NY 10019<br>
				800.558.1855<br>
				<br>
				<strong>CHOICES</strong><br>
				5416 Walnut Street<br>
				Pittsburgh, PA 15232<br>
				412.687.7600<br>
				<br>
				<strong>EN AVANCE</strong><br>
				53 NE 40th St (Design District)<br>
				Miami, FL 33137<br>
				305.576.0056<br>
				<br>
				<strong>GILDA’S</strong><br>
				101 Union St # B<br>
				Newton, MA 02459<br>
				617.964.7199<br>
				<br>
				<strong>GUS MAYER | BIRMINGHAM</strong><br>
				The Summit Birmingham<br>
				225 Summit Blvd #700<br>
				Birmingham, AL 35243<br>
				205.870.3300
			</p>
		</div>
		<div class="four columns">
			<div clas="mobile_hidden"><h5><br></h5></div>
			<p class="p2">
				<strong>GUS MAYER | NASHVILLE</strong><br>
				The Mall at Green Hills<br>
				2113 Green Hills Village Drive<br>
				Nashville, TN 37215<br>
				615.383.4771<br>
				<br>				
				<strong>JOAN SHEPP</strong><br>
				1811 Chestnut St<br>
				Philadelphia, PA 19103<br>
				215.735.2666<br>
				<br>
				<strong>JOE BRAND</strong><br>
				5300 San Dario Ave.<br>
				Laredo, TX 78041<br>
				956.722.0771<br>
				<br>
				<strong>NEAPOLITAN</strong><br>
				715 Elm St<br>
				Winnetka, IL 60093<br>
				847.441.7784<br>
				<br>
				<strong>SAKS JANDEL</strong><br>
				5510 Wisconsin Ave<br>
				Chevy Chase, MD 20814<br>
				301.652.2250<br>
				<br>
				<strong>SUSAN</strong><br>
				3685 Sacramento Street<br>
				San Francisco, CA 94118<br>
				415.922.3685<br>
				<br>
				<strong>WORTHWHILE</strong><br>
				268 King Street<br>
				Charleston, SC 29401
			</p>
		</div>
		<div class="four columns">
			<h5>Europe</h5>
			<p class="p2">
				<strong>TASONI</strong><br>
				Gotthardstrasse 4, CH-6490<br>
				Andermatt, Switzerland<br>
				41.797.043.860<br>
				<br>
				<strong>TROIS POMMES | BASEL</strong><br>
				Freie Strasse 74 4051<br>
				Basel, Switzerland<br>
				41.61.272.92.55<br>
				<br>
				<strong>TROIS POMMES | GSTAAD</strong><br>
				Palace Strasse 1 3780<br>
				Gstaad, Switzerland<br>
				41.33.744.74.41<br>
				<br>
				<strong>TROIS POMMES | ST. MORITZ</strong><br>
				Via Veglia 8 7500<br>
				St. Moritz, Switzerland<br>
				41.81.833.72.58<br>
				<br>
				<strong>TROIS POMMES | ZURICH</strong><br>
				Bahnhofstrasse 18<br>
				8001 Zürich, Switzerland<br>
				41.44.211.09.43<br>
				<br>
				<strong>ROSA HOJAS</strong><br>
				Carrer Del Tenor Viñas, 8<br>
				Barcelona, Spain 08021<br>
				34 932 41 94 80
			</p>
		</div>
		<div class="four columns">
			<h5>Middle East</h5>
			<p class="p2">
				<strong>MARQUEE</strong><br>
				PO Box 182620<br>
				Dubai, UAE<br>
				97142771196<br>				
			</p>
		</div>
	</div>
</div>